* {
  border: 1px dotted black;
}

html, body {
  margin: 0;
  padding: 0;
}

.header {
  background: #323232;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 2.25rem;
  }
  .header__logo {
    width: 20%;
  }
}
.header__logo {
  background-image: url("../assets/Logo/Logo-bandsite.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 1.25rem;
  padding-top: 1.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media screen and (min-width: 768px) {
  .nav {
    justify-content: flex-end;
  }
  .nav:hover {
    border-bottom: -1.1875rem solid #FFFFFF;
    color: #FFFFFF;
  }
}
.nav__link {
  padding: 0.625rem;
  text-decoration: none;
  color: #AFAFAF;
  transition: background-color 0.25s;
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  transition: all 0.5s;
}
@media screen and (min-width: 768px) {
  .nav__link {
    font-size: 1.5rem;
  }
}
.nav__link:hover {
  border-bottom: 0.1875rem solid #FFFFFF;
  color: #FFFFFF;
}

.hero {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 320px) {
  .hero__title {
    color: #FFFFFF;
    position: absolute;
    padding-left: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    font-size: 2.25rem;
  }
  .hero__title {
    padding-left: 2.25rem;
    margin: 0;
  }
}
.hero__title {
  color: #FFFFFF;
  position: absolute;
}
.hero__img {
  width: 100%;
  height: auto;
}

.about {
  align-items: center;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 320px) {
  .about__header {
    align-items: center;
    padding-bottom: 1rem;
    padding-top: 1.5rem;
  }
  .about-quote__container {
    display: flex;
    flex-direction: column;
  }
  .about-quote__text {
    margin: 0;
    padding-top: 1rem;
  }
  .about-quote__container__text {
    padding-bottom: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .about {
    padding-right: 2.25rem;
    padding-left: 2.25rem;
    padding-bottom: 2.25rem;
  }
  .about__header {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
    font-size: 2.25rem;
    justify-content: flex-start;
    padding-right: 2.25rem;
    padding-left: 2.25rem;
  }
  .about-band {
    max-width: 75%;
    height: auto;
    justify-content: center;
    flex-wrap: wrap;
  }
  .about-quote {
    max-width: 75%;
    height: auto;
    justify-content: center;
    flex-wrap: wrap;
  }
  .about-quote__container {
    display: flex;
    font-size: 0.875rem;
    line-height: 1.375rem;
    flex-direction: row;
  }
  .about-quote__the-bees {
    font-size: 1.5rem;
    line-height: 2rem;
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
    margin: 0;
  }
  .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 2.25rem;
  }
  .about-quote__text {
    margin: 0;
    padding-top: 2.25rem;
  }
  .about-quote__container__text {
    padding: 0;
    padding-right: 2.25rem;
  }
  .about-quote__container__text1 {
    padding: 0;
  }
}
.about__header {
  margin: 0;
}
.about-quote__author {
  margin: 0;
  padding-top: 1rem;
}

.about-band__img {
  width: 100%;
  height: auto;
}

.about-text {
  margin: 0;
}

.photo {
  background: #FAFAFA;
  padding-right: 1rem;
  padding-left: 1rem;
}
@media screen and (min-width: 320px) {
  .photo {
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .photo-title {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    margin: 0;
  }
}
@media screen and (min-width: 768px) {
  .photo {
    background: #FAFAFA;
    padding-right: 2.25rem;
    padding-left: 2.25rem;
    padding-bottom: 2.25rem;
  }
  .photo-title {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
    margin: 0;
  }
  .photo-imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .photo-imgs__column {
    flex: 25%;
    max-width: 100%;
  }
  .photo-imgs__column__img {
    vertical-align: middle;
    width: 100%;
  }
}

.photo-img__img {
  width: 100%;
  padding-bottom: 1rem;
}

@media screen and (min-width: 320px) {
  .footer {
    padding-right: 1rem;
    padding-left: 1rem;
    background: #323232;
    color: #FFFFFF;
  }
  .footer-title {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    margin: 0;
  }
  .footer--info__socials {
    list-style-type: none;
  }
  .footer-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer-list__name2 {
    padding-bottom: 1rem;
  }
  .footer-list__general2 {
    padding-bottom: 1rem;
  }
  .footer-list__email {
    padding-bottom: 1rem;
  }
  .footer-logo__mobile {
    padding-top: 1.5rem;
  }
  .footer-logo {
    background-image: url("../assets/Logo/Logo-bandsite.svg");
    background-repeat: no-repeat;
    background-position: left;
    height: 1.25rem;
  }
  .footer-info__instagram {
    background-image: url(/assets/Icons/SVG/Icon-instagram.svg);
    justify-content: center;
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
  }
  .footer-info__facebook {
    background-image: url(/assets/Icons/SVG/Icon-facebook.svg);
    justify-content: center;
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
  }
  .footer-info__twitter {
    background-image: url(/assets/Icons/SVG/Icon-twitter.svg);
    justify-content: center;
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
  }
  .footer-info__websites {
    display: flex;
  }
  .footer-list {
    padding-bottom: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    padding-right: 2.25rem;
    padding-left: 2.25rem;
    background: #323232;
    color: #FFFFFF;
  }
  .footer-info {
    display: flex;
    align-items: flex-end;
    background-image: url("../assets/Logo/Logo-bandsite.svg");
    background-repeat: no-repeat;
    background-position: right;
  }
  .footer-title {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
    margin: 0;
    width: 30%;
    align-items: flex-end;
    font-size: 2.25rem;
  }
  .footer--info__socials {
    list-style-type: none;
  }
  .footer-info__socials__container {
    flex: 25%;
    max-width: 100%;
    padding-right: 1rem;
  }
  .footer-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer-info__socails__tablet {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .footer-logo {
    display: none;
  }
  .footer-list__name2 {
    padding-bottom: 2.25rem;
  }
  .footer-list__general2 {
    padding-bottom: 2.25rem;
  }
  .footer-list__email {
    padding-bottom: 2.25rem;
  }
  .footer-logo__mobile {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }
}

.copyright {
  margin: 0;
  padding: 0;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}/*# sourceMappingURL=bio.css.map */