@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("/assets/Font/fonts/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("/assets/Font/fonts/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("/assets/Font/fonts/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: 700;
}
html, body {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 320px) {
  .header {
    background: #323232;
    flex-direction: column;
    position: relative;
  }
  .header__logo {
    background-image: url("../assets/Logo/Logo-bandsite.svg");
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    max-height: 20px;
    padding: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 2.25rem;
  }
  .header__logo {
    width: 100%;
    background-position: left;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 2.25rem;
  }
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media screen and (min-width: 320px) {
  .nav {
    justify-content: flex-end;
  }
  .nav:hover {
    border-bottom: -1.1875rem solid #FFFFFF;
    color: #FFFFFF;
  }
  .nav__link {
    text-decoration: none;
    color: #AFAFAF;
    transition: background-color 0.25s;
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    transition: all 0.5s;
  }
}
@media screen and (min-width: 320px) and (min-width: 768px) {
  .nav {
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 320px) {
  .nav:hover {
    color: #FFFFFF;
  }
}
@media screen and (min-width: 320px) {
  .nav__button {
    padding: 0.625rem;
    text-decoration: none;
    color: #AFAFAF;
    transition: background-color 0.25s;
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    transition: all 0.5s;
    background-color: #323232;
    border: none;
  }
}
@media screen and (min-width: 320px) and (min-width: 768px) {
  .nav__button {
    font-size: 0.875rem;
    line-height: 2rem;
    font-weight: 600;
  }
}
@media screen and (min-width: 320px) {
  .nav__button:hover {
    background-color: black;
    border-bottom: 0.1875rem solid #FFFFFF;
    color: #FFFFFF;
  }
}
@media screen and (min-width: 768px) {
  .nav {
    justify-content: flex-end;
    position: absolute;
    top: 0;
    height: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transform: translateX(10rem);
  }
  .nav:hover {
    border-bottom: -1.1875rem solid #FFFFFF;
    color: #FFFFFF;
  }
  .nav__link {
    text-decoration: none;
    color: #AFAFAF;
    transition: background-color 0.25s;
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    transition: all 0.5s;
    font-size: 0.75rem;
    font-weight: 700;
    line-height: 1.25rem;
  }
  .nav:hover {
    color: #FFFFFF;
  }
  .nav__button {
    padding: 2rem;
    text-decoration: none;
    color: #AFAFAF;
    transition: background-color 0.25s;
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    transition: all 0.5s;
    background-color: #323232;
    align-items: center;
    border: none;
  }
  .nav__button:hover {
    background-color: black;
    color: #FFFFFF;
  }
}
@media screen and (min-width: 1280px) {
  .nav {
    margin-left: 2.25rem;
  }
}

.hero {
  display: flex;
  align-items: flex-start;
  position: relative;
}
@media screen and (min-width: 320px) {
  .hero__title {
    color: #FFFFFF;
    position: absolute;
    padding-left: 1rem;
    padding-top: 4rem;
    z-index: 1;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    margin: 0 auto;
  }
  .hero__subTitle {
    color: #FFFFFF;
    position: absolute;
    padding-left: 1rem;
    padding-top: 1rem;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
    z-index: 1;
  }
  .hero__img {
    width: 100%;
    height: auto;
    display: block;
  }
  .hero-img-overlay {
    position: absolute;
    background: #323232;
    width: 100%;
    height: 100%;
    transition: none;
    opacity: 50%;
  }
  .hero__container {
    display: flex;
    align-items: flex-end;
  }
  .hero__music {
    position: absolute;
    padding-right: 1rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
  }
  .hero__soundcloud {
    border: none;
    width: 100%;
    height: 6rem;
    padding-bottom: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
  .hero__title {
    padding-left: 2.25rem;
    margin: 0;
  }
  .hero__music {
    padding-left: 2.25rem;
  }
  .hero__soundcloud {
    border: none;
    width: 150%;
  }
  .hero__soundcloud {
    width: 100%;
    height: 12rem;
    border: none;
    transform: translateY(-5rem);
  }
  .hero__subTitle {
    padding-left: 10rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    font-size: 3.75rem;
    line-height: 4.25rem;
    align-items: center;
  }
  .hero__title {
    margin: 0;
  }
  .hero__subTitle {
    padding-left: 10rem;
  }
}
.hero__img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 320px) {
  .shows {
    padding: 1rem;
  }
  .shows-date {
    color: #AFAFAF;
    padding-top: 1rem;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 400;
  }
  .shows-exactDate {
    font-weight: bold;
    margin: 0;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 600;
  }
  .shows-location {
    color: #AFAFAF;
    margin: 0;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 400;
  }
  .shows-exactLocation {
    margin-top: 0;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
  .shows-btn {
    width: 100%;
    height: 2.25rem;
    border-radius: 0.25rem;
    background-color: #323232;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 1.25rem;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 600;
  }
  .shows-lines {
    width: 110%;
    margin-top: 1rem;
    background-color: #AFAFAF;
    margin-left: -1rem;
  }
  .shows-venue {
    color: #AFAFAF;
    margin: 0;
    font-size: 0.8125rem;
    line-height: 1.125rem;
    font-weight: 400;
    padding-top: 1rem;
  }
  .shows-exactVenue {
    margin: 0;
    padding-bottom: 1rem;
    margin-top: 0;
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
  .shows-containerDate {
    display: flex;
    flex-direction: column;
  }
}
@media screen and (min-width: 768px) {
  .shows-container {
    display: flex;
    justify-content: space-evenly;
  }
  .shows-containerDate {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin: 0 auto;
    transform: translateX(-6rem);
    display: none;
  }
  .shows-btn {
    width: 20%;
    font-weight: bold;
  }
  .shows-lines {
    width: 100%;
    background-color: #AFAFAF;
  }
}
@media screen and (min-width: 1280px) {
  .shows-title {
    font-size: 60px;
    padding-left: 5rem;
  }
  .shows-container {
    display: flex;
    justify-content: space-evenly;
    padding-left: 15rem;
  }
  .shows-containerDate {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    margin: 0 auto;
    transform: translateX(-6rem);
    display: none;
  }
  .shows-btn {
    width: 20%;
    font-weight: bold;
  }
  .shows-lines {
    width: 70%;
    margin-left: 25rem;
    background-color: #AFAFAF;
  }
}

@media screen and (min-width: 320px) {
  .footer {
    padding-right: 1rem;
    padding-left: 1rem;
    background: #323232;
    color: #FFFFFF;
  }
  .footer-title {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    margin: 0;
  }
  .footer--info__socials {
    list-style-type: none;
  }
  .footer-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer-list__name2 {
    padding-bottom: 1rem;
  }
  .footer-list__general2 {
    padding-bottom: 1rem;
  }
  .footer-list__email {
    padding-bottom: 1rem;
  }
  .footer-logo__mobile {
    padding-top: 1.5rem;
  }
  .footer-logo {
    background-image: url("../assets/Logo/Logo-bandsite.svg");
    background-repeat: no-repeat;
    background-position: left;
    height: 1.25rem;
  }
  .footer-info__instagram {
    background-image: url(/assets/Icons/SVG/Icon-instagram.svg);
    justify-content: center;
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
  }
  .footer-info__facebook {
    background-image: url(/assets/Icons/SVG/Icon-facebook.svg);
    justify-content: center;
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
  }
  .footer-info__twitter {
    background-image: url(/assets/Icons/SVG/Icon-twitter.svg);
    justify-content: center;
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
  }
  .footer-info__websites {
    display: flex;
  }
  .footer-list {
    padding-bottom: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    padding-right: 2.25rem;
    padding-left: 2.25rem;
    background: #323232;
    color: #FFFFFF;
  }
  .footer-info {
    display: flex;
    align-items: flex-end;
    background-image: url("../assets/Logo/Logo-bandsite.svg");
    background-repeat: no-repeat;
    background-position: right;
    margin-right: 1rem;
  }
  .footer-title {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
    margin: 0;
    width: 33%;
    align-items: flex-end;
    font-size: 2.25rem;
  }
  .footer--info__socials {
    list-style-type: none;
  }
  .footer-info__socials__container {
    flex: 25%;
    max-width: 100%;
    padding-right: 1rem;
  }
  .footer-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer-info__socails__tablet {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .footer-logo {
    display: none;
  }
  .footer-list__name2 {
    padding-bottom: 2.25rem;
  }
  .footer-list__general2 {
    padding-bottom: 2.25rem;
  }
  .footer-list__email {
    padding-bottom: 2.25rem;
  }
  .footer-logo__mobile {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }
  .footer-info__instagram {
    background-image: url(/assets/Icons/SVG/Icon-instagram.svg);
    justify-content: center;
    background-repeat: no-repeat;
    width: 3rem;
    height: 4rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding-right: 2.25rem;
    padding-left: 2.25rem;
    background: #323232;
    color: #FFFFFF;
  }
  .footer-info {
    display: flex;
    align-items: flex-end;
    background-image: url("../assets/Logo/Logo-bandsite.svg");
    background-repeat: no-repeat;
    background-position: right;
    margin-right: 2.25rem;
  }
  .footer-title {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
    margin: 0;
    width: 20%;
    align-items: flex-end;
    font-size: 2.25rem;
  }
  .footer--info__socials {
    list-style-type: none;
  }
  .footer-info__socials__container {
    flex: 0%;
    max-width: 18%;
    padding-right: 1rem;
  }
  .footer-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer-info__socails__tablet {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .footer-logo {
    display: none;
  }
  .footer-list__name2 {
    padding-bottom: 2.25rem;
  }
  .footer-list__general2 {
    padding-bottom: 2.25rem;
  }
  .footer-list__email {
    padding-bottom: 2.25rem;
  }
  .footer-logo__mobile {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }
  .footer-info__websites {
    display: flex;
    height: 4rem;
  }
}

.copyright {
  margin: 0;
  padding: 0;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}/*# sourceMappingURL=shows.css.map */