@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("/assets/Font/fonts/AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("/assets/Font/fonts/AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: 600;
}
@font-face {
  font-family: "AvenirNext LT Pro";
  src: url("/assets/Font/fonts/AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: 700;
}
html, body {
  margin: 0;
  padding: 0;
}

.header {
  background: #323232;
  display: flex;
  flex-direction: column;
  position: relative;
}
@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 2.25rem;
  }
  .header__logo {
    width: 20%;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 2.25rem;
  }
}
.header__logo {
  background-image: url("../assets/Logo/Logo-bandsite.svg");
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  max-height: 20px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
@media screen and (min-width: 320px) {
  .nav {
    justify-content: flex-end;
  }
  .nav:hover {
    border-bottom: -1.1875rem solid #FFFFFF;
    color: #FFFFFF;
  }
}
.nav__link {
  text-decoration: none;
  color: #AFAFAF;
  transition: background-color 0.25s;
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  transition: all 0.5s;
}
@media screen and (min-width: 768px) {
  .nav__link {
    font-size: 1.5rem;
  }
}
.nav__link:hover {
  color: #FFFFFF;
}
.nav__button {
  padding: 0.625rem;
  text-decoration: none;
  color: #AFAFAF;
  transition: background-color 0.25s;
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  transition: all 0.5s;
  background-color: #323232;
}
@media screen and (min-width: 768px) {
  .nav__button {
    font-size: 1.5rem;
  }
}
.nav__button:hover {
  background-color: black;
  border-bottom: 0.1875rem solid #FFFFFF;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .nav {
    justify-content: flex-end;
    position: absolute;
    top: 0;
    height: 100%;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-left: 2.25rem;
  }
  .nav:hover {
    border-bottom: -1.1875rem solid #FFFFFF;
    color: #FFFFFF;
  }
}
.nav__link {
  text-decoration: none;
  color: #AFAFAF;
  transition: background-color 0.25s;
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  transition: all 0.5s;
}
@media screen and (min-width: 768px) {
  .nav__link {
    font-size: 1.5rem;
  }
}
.nav__link:hover {
  color: #FFFFFF;
}
.nav__button {
  padding: 0.625rem;
  text-decoration: none;
  color: #AFAFAF;
  transition: background-color 0.25s;
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  transition: all 0.5s;
  background-color: #323232;
  align-items: center;
  border: none;
}
@media screen and (min-width: 768px) {
  .nav {
    font-size: 1.5rem;
  }
}
.nav:hover {
  background-color: black;
  color: #FFFFFF;
}
@media screen and (min-width: 1280px) {
  .nav {
    margin-left: 2.25rem;
  }
}

.hero {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 320px) {
  .hero__title {
    color: #FFFFFF;
    position: absolute;
    padding-left: 1rem;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
  .hero__title {
    padding-left: 2.25rem;
    margin: 0;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    font-size: 3.75rem;
    line-height: 4.25rem;
  }
  .hero__title {
    margin: 0;
  }
}
.hero__title {
  color: #FFFFFF;
  position: absolute;
  font-weight: 400;
}
.hero__img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 320px) {
  .shows {
    padding: 1rem;
  }
  .shows-date {
    color: #AFAFAF;
  }
  .shows-exactDate {
    font-weight: bold;
  }
  .shows-location {
    color: #AFAFAF;
  }
  .shows-btn {
    width: 100%;
    height: 2.25rem;
    border-radius: 0.25rem;
    background-color: #323232;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .shows-lines {
    width: 100%;
  }
}

@media screen and (min-width: 320px) {
  .footer {
    padding-right: 1rem;
    padding-left: 1rem;
    background: #323232;
    color: #FFFFFF;
  }
  .footer-title {
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    margin: 0;
  }
  .footer--info__socials {
    list-style-type: none;
  }
  .footer-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer-list__name2 {
    padding-bottom: 1rem;
  }
  .footer-list__general2 {
    padding-bottom: 1rem;
  }
  .footer-list__email {
    padding-bottom: 1rem;
  }
  .footer-logo__mobile {
    padding-top: 1.5rem;
  }
  .footer-logo {
    background-image: url("../assets/Logo/Logo-bandsite.svg");
    background-repeat: no-repeat;
    background-position: left;
    height: 1.25rem;
  }
  .footer-info__instagram {
    background-image: url(/assets/Icons/SVG/Icon-instagram.svg);
    justify-content: center;
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
  }
  .footer-info__facebook {
    background-image: url(/assets/Icons/SVG/Icon-facebook.svg);
    justify-content: center;
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
  }
  .footer-info__twitter {
    background-image: url(/assets/Icons/SVG/Icon-twitter.svg);
    justify-content: center;
    background-repeat: no-repeat;
    width: 3rem;
    height: 3rem;
  }
  .footer-info__websites {
    display: flex;
  }
  .footer-list {
    padding-bottom: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    padding-right: 2.25rem;
    padding-left: 2.25rem;
    background: #323232;
    color: #FFFFFF;
  }
  .footer-info {
    display: flex;
    align-items: flex-end;
    background-image: url("../assets/Logo/Logo-bandsite.svg");
    background-repeat: no-repeat;
    background-position: right;
    margin-right: 1rem;
  }
  .footer-title {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
    margin: 0;
    width: 33%;
    align-items: flex-end;
    font-size: 2.25rem;
  }
  .footer--info__socials {
    list-style-type: none;
  }
  .footer-info__socials__container {
    flex: 25%;
    max-width: 100%;
    padding-right: 1rem;
  }
  .footer-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer-info__socails__tablet {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .footer-logo {
    display: none;
  }
  .footer-list__name2 {
    padding-bottom: 2.25rem;
  }
  .footer-list__general2 {
    padding-bottom: 2.25rem;
  }
  .footer-list__email {
    padding-bottom: 2.25rem;
  }
  .footer-logo__mobile {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }
  .footer-info__instagram {
    background-image: url(/assets/Icons/SVG/Icon-instagram.svg);
    justify-content: center;
    background-repeat: no-repeat;
    width: 3rem;
    height: 4rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding-right: 2.25rem;
    padding-left: 2.25rem;
    background: #323232;
    color: #FFFFFF;
  }
  .footer-info {
    display: flex;
    align-items: flex-end;
    background-image: url("../assets/Logo/Logo-bandsite.svg");
    background-repeat: no-repeat;
    background-position: right;
    margin-right: 2.25rem;
  }
  .footer-title {
    padding-top: 3rem;
    padding-bottom: 2.25rem;
    margin: 0;
    width: 20%;
    align-items: flex-end;
    font-size: 2.25rem;
  }
  .footer--info__socials {
    list-style-type: none;
  }
  .footer-info__socials__container {
    flex: 0%;
    max-width: 18%;
    padding-right: 1rem;
  }
  .footer-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  .footer-info__socails__tablet {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
  .footer-logo {
    display: none;
  }
  .footer-list__name2 {
    padding-bottom: 2.25rem;
  }
  .footer-list__general2 {
    padding-bottom: 2.25rem;
  }
  .footer-list__email {
    padding-bottom: 2.25rem;
  }
  .footer-logo__mobile {
    padding-top: 2.25rem;
    padding-bottom: 2.25rem;
  }
  .footer-info__websites {
    display: flex;
    height: 4rem;
  }
}

.copyright {
  margin: 0;
  padding: 0;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}/*# sourceMappingURL=shows.css.map */